@import "../scss/bootstrap.scss";
@import "../scss/variables";
@import "../scss/mixins/breakpoints";
@import "../scss/buttons";
@import "../scss/mixins/sizes";


a {
    text-decoration: none;
    color: $black;
}

a:hover {
    color: $black;
}

header {
    color: $black;
    background: $white;
    //sizes ($height, $width, $font-weight, $margin-bottom, $margin-left)
    @include sizes (auto, null, 2rem, null, null);
    
    div {
        // position ($position, $padding-top, $padding-bottom, $padding-left, $padding-right, $padding, $justify-content)
        @include position(null, null, null, 10rem, null, null, null);
        
    }

    .paddingleft-Info {
        @include position(null, null, null, 5rem, null, null, null);
    }
    position: sticky;
    z-index: 100;
    top: 0;
    width: 0;
}


main {
    .center_Items {
        // position ($position, $padding-top, $padding-bottom, $padding-left, $padding-right, $padding, $justify-content)
        @include position(relative, null, null, null, null, null, center);
    }
    .button_main {
        border-radius: 10rem;
    }
    .mainTop2 {
        // position ($position, $padding-top, $padding-bottom, $padding-left, $padding-right, $padding, $justify-content)
        @include position(null, 5rem, null, null, null, null, null);
    }

    .mainTop3 {
        // position ($position, $padding-top, $padding-bottom, $padding-left, $padding-right, $padding, $justify-content)
        @include position(null, 1rem, null, null, null, null, null);
    }
    .mainSection {
        padding: 0 10%;
    }
    .sizeImgindex {
        //sizes ($height, $width, $font-weight, $margin-bottom, $margin-left)
        @include sizes (450px, 450px, null, -10rem, -4rem);
    }

    .sizeimgTeam {
        @include sizes (200px, 252px, null, null, null);

    }
    .zoom:hover {
        transform: scale(1.05); }
      
      .zoom {
        transition: transform 0.5s; }
    .sizeLogo {
        //sizes ($height, $width, $font-weight, $margin-bottom, $margin-left)
    @include sizes (60px, 60px, null, null, null);
    }
}

@media only screen and (max-width: 1002px) {

    .card {
         //sizes ($height, $width, $font-weight)
         @include sizes (null, 100%, null, null, null);
    }
    .form-control {
        //sizes ($height, $width, $font-weight)
        @include sizes (null, auto, null, null, null);
    }
    .mainTop {
        @include position(null, 5rem, null, null, null, null, null);
    }
    .btn-wsp {
        width: 63px;
        height: 63px;
        right: 2rem;
        line-height: 66px;
    }
    .paddingleft-Info {
        @include sizes (auto, null, 2rem, null, -5rem);
    }
    .btn-contact {
        @include sizes (null, null, null, null, -10rem);
    }
    .sizeImgindex {
        margin-top: -3rem;
        padding: 4rem;
    }
    .mainTopindex {
        margin-top: -7rem;
    }
    .containerButton {
        text-align: center;
    }
}

