 header{
    background: linear-gradient(to left, #ff0000 0%, #ff6600 100%);
    color: black;
    height: auto;
    font-weight: 2rem;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    }
